<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inserisci Libro</title>
</head>
<body>
<h1>Nuovo Libro</h1>
<form th:action="@{/admin/book}" method="post" enctype="multipart/form-data" th:object="${book}">
    <label for="title">Titolo:</label>
    <input type="text" id="title" th:field="*{title}" required /><br/><br/>

    <label for="publicationDate">Data di pubblicazione:</label>
    <input type="date" id="publicationDate" th:field="*{publicationDate}" required /><br/><br/>

    <label for="imageFile">Copertina (immagine):</label>
    <input type="file" id="imageFile" name="imageFile" accept="image/*"  /><br/><br/>

    <button type="submit">Salva</button>
</form>
</body>
</html>
