<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Scheda libro</title>
    <link rel="stylesheet" href="/css/styles2.css" />
</head>
<body>

<header class="top-bar">
    <h1>SIWBooks</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/book">Libri</a>
        <a href="#">Autori</a>
        <a href="#">Login</a>
    </nav>
</header>

<main class="book-page">

    <section class="book-header">
        <h1 th:text="${book.title + ' (' + #temporals.format(book.publicationDate, 'yyyy') + ')'}">Titolo</h1>
        <p class="book-description">Descrizione con parole random</p>
    </section>

    <section class="book-authors">
        <h2>Autori</h2>
        <div th:if="${book.getAuthors().isEmpty()}">Non ci sono autori per questo libro</div>
        <div class="authors-list">
            <div th:each="author : ${book.getAuthors()}" class="author">
                <a th:href="@{'/author/' + ${author.id}}"
                   th:text="|${author.firstName} ${author.lastName}|">Autore</a>
            </div>
        </div>
    </section>

    <section class="book-reviews">
        <h2>Recensioni</h2>
        <div class="reviews" th:if="${book.getReviews().isEmpty()}">Non ci sono recensioni per questo libro</div>
        <div class="reviews-list">
            <div class="review" th:each="review : ${book.getReviews()}">
                <p class="review-title" th:text="${review.getTitle()}">Titolo recensione</p>
                <div class="review-meta">
                    <span class="review-author" th:text="${review.author.username}">Nome Autore</span>
                    <span class="review-stars" th:utext="${'★'.repeat(review.getRating()) + '☆'.repeat(5 - review.getRating())}">
                    ★★★★☆
                </span>
                </div>
                <p class="review-text" th:text="${review.getText()}">Testo recensione</p>
            </div>
        </div>
    </section>

</main>

</body>
</html>
