<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profilo</title>
    <link rel="stylesheet" href="/css/styles2.css" />
</head>
<body>

<div th:replace="fragments/topBar :: site-header"></div>

<a th:text="|${'Benvenuto '+user.firstName} ${user.lastName}|">Nome Utente</a>
<div><a href="/myProfile/changePassword">Cambia password</a></div>

<div><a href="/logout"> Logout</a></div>

</body>
</html>